* {
    padding: 0;
    margin: 0;
}

input {
    border: 0;
    background-color: #000000;
    color: rgb(0, 0, 0);
    border-radius: 0px;
    cursor: pointer;
    background: rgba(248, 248, 248, 0);
}

input:hover {
    color: #ffffff;
    border: 2px rgb(69, 137, 139) solid;
    background: rgb(119, 209, 212);
}

nav {
    float: left;
    display: block;
    padding: 20px;
    padding-right: 40px;
    color: rgb(247, 247, 247);
    font-size: 20px;
}

.link {
    width: 150px;
    height: 65px;
    font-size: 17px
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}